Flask
Gunicorn
absl-py
altair
appdirs
astroid
astunparse
async-generator
attrs
autopep8
beautifulsoup4
black
blinker
CacheMan
cachetools
certifi
cffi
charset-normalizer
click
colorama
commonmark
contourpy
cycler
decorator
dill
entrypoints
exceptiongroup
fastjsonschema
Flask
flatbuffers
fonttools
future
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
html5lib
idna
importlib-metadata
imutils
isort
itsdangerous
Jinja2
joblib
jsonschema
jupyterlab-pygments
keras
Keras-Preprocessing
kiwisolver
lazy-object-proxy
libclang
lxml
Markdown
MarkupSafe
matplotlib
mccabe
mechanize
mistune
mypy-extensions
nltk
numpy
oauthlib
opencv-python
opt-einsum
outcome
packaging
pandas
pandocfilters
pathspec
phonenumbers
Pillow
platformdirs
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydeck
pyee
Pygments
pylint
Pympler
pyparsing
pyppeteer
pyrsistent
PySocks
python-dateutil
python-docx
pytz
pytz-deprecation-shim
pyzmq
regex
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
selenium
semver
Send2Trash
six
sklearn
smmap
sniffio
sortedcontainers
soupsieve
streamlit
streamlit-option-menu
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tinycss2
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
trio
trio-websocket
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
websockets
Werkzeug
wrapt
wsproto
xgboost
XlsxWriter
zipp